/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
h1 {
  font-family: 'Bungee Inline', cursive;
}

body {
    background-image: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/swirl_pattern.png");
    background-color: #cccccc;
}
